{{#each articles}}
    {{#if saved}}
<li class="article-block">
   <div class='panel panel-default' data-id="{{_id}}">
                              
            <a class='article-link' target='_blank' href='{{link}}'>
                <h4 class="title">{{title}}</h4>
            </a>

            <p class="author"> {{author}}</p>

            <div class="btn-group">
                <button class="btn btn-danger delete"> Delete Article </button>               
            

                <div class="comments" id={{_id}}></div>

                <button class="comment-btn btn" >Add Comment</button>
        
            </div>
                
        
    </div> 
</li>
    {{/if}}
{{/each}}

    